<div class="moods-body">
    <div class="moods-header">
        <div class="moods-header-logo">
            <img src="/images/Butterfly.svg" alt="">
            <h3>Butterfly</h3>
        </div>

        <div class="moods-header-desprition">
            <h4>Your Team's Happiness Manager</h4> 
        </div>
    </div>

    <div class="moods-container">
        <div class="moods-container-title"><span><%= company %></span> would like to know</div>
        <div class="moods-container-question">
            <h1>How is your week going?</h1>
        </div>
        <div class="moods-emoji-container">
            <a href="/questions?v=1">
                <img src="/images/VeryUnhappy.svg" alt="">
            </a>
            <a href="/questions?v=2">
                <img src="/images/Unhappy.svg" alt="">
            </a>
            <a href="/questions?v=3">
                <img src="/images/Neutral.svg" alt="">
            </a>
            <a href="/questions?v=4">
                <img src="/images/Happy.svg" alt="">
            </a>
            <a href="/questions?v=5">
                <img src="/images/VeryHappy.svg" alt="">
            </a>
        </div>
        <div class="moods-container-footer">
            Your answer will always remain anonymous
        </div>
    </div>
</div>